DATABASE_URL=postgresql://usuario:password@localhost:5432/taskflow_db
JWT_SECRET=9f4c7a8d2e6b3f1a5c8d9e2f4b7a1c6d8e3f5a7b9c2d4e6f1a3c5d7e9b2f4a6c
JWT_EXPIRES_IN=1h
PORT=3000
FRONTEND_URL=http://localhost:5173
NODE_ENV=development